
<div class="py-5 border-top">
  <div class="container">

    <!-- <p class="h5 mb-3">{{ site.title | escape }}</p> -->

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
          {%- if site.address1 -%}
            <li>
              {{ site.address1 | escape }}
            </li>
          {%- endif -%}
          {%- if site.address2 -%}
            <li>
              {{ site.address2 | escape }}
            </li>
          {%- endif -%}
          {%- if site.address3 -%}
            <li>
              {{ site.address3 | escape }}
            </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        <p>
          <a href="https://dal.ca"><img src="/images/dal_logo.svg" alt="Dalhousie University logo" height=50 /></a>
        </p>

        <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a>
        </p>
      </div>

    </div>

  </div>
</div>
